*{
    margin: o;
    padding: 0;
    text-decoration: none;
    list-style: none;
    }
    body {
        font-family: "Poppins";
    }
    
    
    header {
        height: 100vh;
        width: 100vw;
        background-image: url("assets/photo/7479.jpg");
        background-size: cover;
    }
    
    .navbar {
        position: absolute;
        padding:  50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }   
    
    .navbar a {
        color: rgb(238, 238, 238);
     }
     .navbar.logo {
        font-size: 2em;
        font-weight: bold;
    }
    
    .navbar .nav-links ul{
        display: flex;
    }
    .navbar .nav-links ul li{
        margin: 0 25px;
    }
    
    .navbar .nav-links ul li.active a{  
        color: rgb(57, 11, 223);
        font-weight: 600;
    }
    .navbar .menu-paradise {
        display: none;
        position: absolute;
        top: 50px;
        right: 50px;
         width: 35px;
    }
    
    @media screen and (max-width:900px) {
        .navbar {
    padding: 0;
        }
        .navbar .menu-paradise {
            display: block;
        
        }
        .nav-links {
            top: 0;
            left: 0;
            position: absolute;
            background-color: rgba(112, 120, 182, 0.568);
            backdrop-filter: blur(8px);
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-self: center;
        }
    
        .nav-links ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .navbar,
         .nav-links ul li{
            margin:25px 0;
            font: size 1.2em; 
        } 
    }