                                            * {
                                                margin: 0;
                                                padding: 0;
                                                font-family: "Poppins", sans-serif;
                                                box-sizing: border-box;
                                                transition: all.2s linear;
                                                text-decoration: none;
                                            }
                                            
                                            html {
                                                font-size: 64.5%;
                                                overflow-x: hidden;
                                                scroll-padding-top: 7em;
                                                scroll-behavior: smooth;
                                            }
                                            
                                            body {
                                                position: relative;
                                                min-height: 100vh;
                                                width: 100%;
                                                background: #1e6c6c8e;
                                            }
                                            
                                            header {
                                                position: fixed;
                                                top: 0;
                                                right: 0;
                                                left: 0;
                                                z-index: 20;
                                                background-color: #fff;
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;
                                                padding: 10px 8%;
                                                box-shadow: 0 0 12px #1c1427;
                                            }
                                            
                                            header .logo {
                                                color: rgba(28, 50, 146, 0.463);
                                                font-size: 30px;
                                                font-weight: bold;
                                            }
                                            
                                            header .logo span {
                                                color: rgb(26, 21, 21);
                                                font-size: 27px;
                                            }
                                            
                                            .menu {
                                                display: flex;
                                            }
                                            
                                            .menu li {
                                                list-style: none;
                                                margin: 0 15px;
                                            }
                                            
                                            .menu li a {
                                                font-size: 14px;
                                                color: black;
                                                font-weight: 300;
                                                transition: 0.2s;
                                                font-weight: bold;
                                            }
                                            
                                            .menu li a:hover {
                                                color: #B5525C;
                                                border-bottom: 4px solid #B5525C;
                                                transition: 3s;
                                            }
                                            
                                            .menu ul li a {
                                                text-decoration: none;
                                                font-size: 10px;
                                                font-weight: 500;
                                                background: #105e62;
                                                padding: 8px 15px;
                                            }
                                            
                                            header button {
                                                background-color: #B5525C;
                                                cursor: pointer;
                                                color: #fff;
                                                padding: 5px 25px;
                                            }
                                            
                                            #home {
                                                margin-top: 70px;
                                                height: calc(100vh - 50px);
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;
                                                position: relative;
                                                gap: 10px;
                                            }
                                            
                                             :-webkit-scrollbar {
                                                width: 15px;
                                                background-color: transparent;
                                            }
                                            
                                             ::-webkit-scrollbar-thumb {
                                                background-color: #105e62;
                                            }
                                            
                                            #home .right {
                                                width: 50%;
                                            }
                                            
                                            #home .right h1 {
                                                font-size: 50px;
                                                margin-bottom: 10px;
                                            }
                                            
                                            #home .right h1 span {
                                                color: #B5525C;
                                            }
                                            
                                            #home .right p {
                                                margin-bottom: 30px;
                                                color: #141212;
                                                font-size: 13px;
                                                margin: 5%;
                                                padding: 2%;
                                            }
                                            
                                            #home .right a {
                                                background-color: #B5525C;
                                                padding: 10px 20px;
                                                font-size: 20px;
                                                font-weight: bold;
                                                color: #fff;
                                                transition: 0.5s;
                                                border-radius: 4vh;
                                                margin: 3px;
                                            }
                                            
                                            #home .right a:hover {
                                                background-color: #434E52;
                                                font-weight: bold;
                                            }
                                            
                                            #home .left {
                                                width: 50%;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                            }
                                            
                                            #home .left img {
                                                width: 75%;
                                                border-radius: 25px;
                                                box-shadow: 14px 7px 55px -7px rgba(0, 0, 0, 0.42);
                                            }
                                            
                                            #container {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                flex-direction: column;
                                            }
                                            
                                            .section_title {
                                                text-transform: uppercase;
                                                position: relative;
                                                font-size: 25px;
                                            }
                                            
                                            .section_title::before {
                                                position: absolute;
                                                bottom: 0;
                                                content: "";
                                                background-color: #000;
                                                width: 100%;
                                                height: 5px;
                                                border-radius: 6px;
                                            }
                                            
                                            .section_title::after {
                                                position: absolute;
                                                top: 0;
                                                left: -6px;
                                                bottom: 0;
                                                content: "";
                                                background-color: #000;
                                                width: 100%;
                                                height: 5px;
                                                border-radius: 6px;
                                            }
                                            
                                            .images {
                                                margin: 100px auto;
                                                padding: 0, 8%;
                                            }
                                            
                                            .images ul {
                                                display: flex;
                                                flex-wrap: wrap;
                                                width: 100%;
                                            }
                                            
                                            .images li {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                margin: 2.669%;
                                                transition: 0.5s;
                                                width: 25%;
                                            }
                                            
                                            .images li div {
                                                width: 100%;
                                                height: 60%;
                                                margin-bottom: 5px;
                                                box-shadow: 3px 3px 7px #000;
                                            }
                                            
                                            .images li div img {
                                                height: 99%;
                                                width: 100%;
                                            }
                                            
                                            .images li :hover {
                                                transform: scale(1.0);
                                                margin: 20px;
                                                box-shadow: 3px 3px 7px #fff;
                                            }
                                            
                                            .images li span {
                                                color: #141212;
                                                font-size: 18px;
                                                font-weight: bold;
                                            }
                                            
                                            #container li span.price {
                                                background-color: #B5525C;
                                                color: #1c1427;
                                                padding: 5px 20px;
                                                font-size: 15px;
                                                font-weight: bold;
                                                border-radius: 2px;
                                                cursor: pointer;
                                            }
                                            
                                            #container li a {
                                                color: #105e62;
                                                font-weight: bold;
                                                margin-bottom: 15px;
                                                border-radius: 6px;
                                                font-size: 15px;
                                            }
                                            
                                            #contact {
                                                position: relative;
                                                min-height: 100vh;
                                                padding: 50px 100px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                flex-direction: column;
                                            }
                                            
                                            #contact .content {
                                                max-width: 800px;
                                                text-align: center;
                                            }
                                            
                                            #contact .content h2 {
                                                font-size: 36px;
                                                font-weight: bold;
                                                color: #fff;
                                            }
                                            
                                            #contact .content p {
                                                font-size: 16px;
                                                font-weight: 400;
                                                color: #000;
                                            }
                                            
                                            .container {
                                                width: 100%;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                margin-top: 40px;
                                            }
                                            
                                            .container .contactInfo {
                                                width: 50%;
                                                display: flex;
                                                flex-direction: column;
                                            }
                                            
                                            .container .contactInfo .box {
                                                position: relative;
                                                padding: 30px 0;
                                                display: flex;
                                            }
                                            
                                            .container .contactInfo .box .icon {
                                                min-width: 60px;
                                                height: 60px;
                                                background: #ffffff6e;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                border-radius: 50%;
                                                font-size: 22px;
                                            }
                                            
                                            .container .contactInfo .box .text {
                                                display: flex;
                                                margin-left: 20px;
                                                font-size: 16px;
                                                color: #fff;
                                                flex-direction: column;
                                                font-weight: 300;
                                            }
                                            
                                            .container .contactInfo .box .text h3 {
                                                font-weight: bold;
                                                color: #000;
                                            }
                                            
                                            .contactForm {
                                                width: 40%;
                                                padding: 40px;
                                                background: #ffffff;
                                                border-radius: 9px;
                                            }
                                            
                                            .contactForm h2 {
                                                font-size: 30px;
                                                color: #333;
                                                font-weight: 500;
                                            }
                                            
                                            .contactForm .inputBox {
                                                position: relative;
                                                width: 100%;
                                                margin-top: 10px;
                                            }
                                            
                                            .contactForm .inputBox input,
                                            .contactForm .inputBox textarea {
                                                width: 100%;
                                                padding: 5px 0;
                                                font-size: 16px;
                                                margin: 10px 0;
                                                border: none;
                                                border-bottom: 2px solid#333;
                                                outline: none;
                                                resize: none;
                                            }
                                            
                                            .contactForm .inputBox span {
                                                position: absolute;
                                                left: 0;
                                                font-size: 12px;
                                                padding: 5px 0;
                                                font-size: 16px;
                                                margin: 10px 0;
                                                pointer-events: none;
                                                transition: 0.5s;
                                                color: #666;
                                            }
                                            
                                            .contactForm .inputBox input:focus~span,
                                            .contactForm .inputBox input:valid~span,
                                            .contactForm .inputBox textarea:focus~span,
                                            .contactForm .inputBox textarea:valid~span {
                                                color: #0077b5;
                                                font-size: 13px;
                                                transform: translateY(-20px);
                                            }
                                            
                                            .contactForm .inputBox input[type="Submit"] {
                                                width: 100px;
                                                background: black;
                                                color: #fff;
                                                border-radius: 5px;
                                                cursor: pointer;
                                                padding: 10px;
                                                font-size: 18px;
                                                font-weight: bold;
                                            }
                                            
                                            .footer {
                                                background: #151516d5;
                                                width: 100%;
                                                bottom: 0;
                                                left: 0;
                                            }
                                            
                                            footer .content {
                                                background: #10303d9b;
                                                margin: auto;
                                                padding: 20px 30px 30px 30px;
                                            }
                                            
                                            footer .content .top {
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;
                                                margin-bottom: 30px;
                                            }
                                            
                                            .content .top .logo-details {
                                                color: #fff;
                                                font-size: 30px;
                                                font-weight: bold;
                                            }
                                            
                                            .content .top .media-icons {
                                                display: flex;
                                            }
                                            
                                            .content .top .media-icons a {
                                                height: 40px;
                                                width: 40px;
                                                background: #8d8585;
                                                margin: 0 8px;
                                                border-radius: 50%;
                                                text-align: center;
                                                line-height: 40px;
                                                color: #fff;
                                                font-size: 17px;
                                                text-decoration: none;
                                                transition: all 0.4s ease;
                                            }
                                            
                                            .content .top .media-icons a:nth-child(1) {
                                                background: #4267b2;
                                            }
                                            
                                            .content .top .media-icons a:nth-child(1):hover {
                                                color: #4267b2;
                                                background: #fff;
                                            }
                                            
                                            .content .top .media-icons a:nth-child(2) {
                                                background: #1da1f2;
                                            }
                                            
                                            .content .top .media-icons a:nth-child(2):hover {
                                                color: #1da1f2;
                                                background: #fff;
                                            }
                                            
                                            .content .top .media-icons a:nth-child(3) {
                                                background: #e1306c;
                                            }
                                            
                                            .content .top .media-icons a:nth-child(3):hover {
                                                color: #e1306c;
                                                background: #fff;
                                            }
                                            
                                            .content .top .media-icons a:nth-child(4) {
                                                background: #0077b5;
                                            }
                                            
                                            .content .top .media-icons a:nth-child(4):hover {
                                                color: #0077b5;
                                                background: #fff;
                                            }
                                            
                                            .content .top .media-icons a:nth-child(5) {
                                                background: #ff0000;
                                            }
                                            
                                            .content .top .media-icons a:nth-child(5):hover {
                                                color: #ff0000;
                                                background: #fff;
                                            }
                                            
                                            footer.bottom-details {
                                                width: 100%;
                                                background: #554aa8;
                                            }
                                            
                                            footer.bottom-details .bottom_text {
                                                max-width: 1250px;
                                                margin: auto;
                                                padding: 40px 60px;
                                                display: flex;
                                                justify-content: space-between;
                                            }
                                            
                                            .bottom-details .bottom_text span,
                                            .bottom-details .bottom_text a {
                                                font-size: 15px;
                                                font-weight: 500;
                                                color: #fff;
                                                opacity: 0.8;
                                                text-decoration: none;
                                            }
                                            
                                            .bottom-details .bottom_text a:hover {
                                                opacity: 1;
                                                text-decoration: underline;
                                            }
                                            
                                            .signature {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                width: 100%;
                                                height: 3vw;
                                                color: black;
                                                font-size: 1.5rem;
                                            }
                                            
                                            .footer_left {
                                                display: flex;
                                                justify-content: center;
                                                flex-direction: column;
                                                align-items: center;
                                                gap: 3vh;
                                            }
                                            
                                            @media(max-width:991px) {
                                                .menu {
                                                    display: flex;
                                                    justify-content: space-around;
                                                }
                                                #contact {
                                                    width: 100%;
                                                    height: 200vh;
                                                }
                                                .container {
                                                    width: 100vw;
                                                    flex-direction: column;
                                                }
                                                .container .contactInfo {
                                                    display: flex;
                                                    width: 100%;
                                                }
                                                .contactInfo {
                                                    width: 200vw;
                                                }
                                                .contactForm {
                                                    width: 100%;
                                                }
                                                footer .content {
                                                    width: 100%;
                                                    height: 60vh;
                                                }
                                            }