*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url(assets/photo/Fond\ De\ Plage\ D\'été\ Avec\ Un\ Style\ Frais\ d\'écran\ Photo\ Téléchargement\ Gratuit\ -\ Pngtree.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu{
    width: 400px;
    height: 70px;
    display: flex;
    flex-direction: row;
}
.menu ul{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.menu ul li{
        list-style: none;
        margin-left: 65px;
        margin-top: 30px;
        font-size: 15px;
}

.menu ul li a{

    text-decoration: none;
    color: aliceblue;
    font-family: arial;
    font-weight: bold;
    transition:0.4s ease-in-out;
    
}
.menu ul li a:hover{
    color:#5c6a99;
}

.navbar{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{

    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800
}

.search{
    width: 330px;
    /* float: left; */
    margin-left: 270px;
}

.srch{
    font-family: arial;
    width: 200px;
    height: 30px;
    background: white;
    border: 1px solid #41C9E2;
    margin-top: 10px;
    color: black;
    border-right: none;
    font-size: 20px;
    /* float: left; */
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
.btn{
    width: 100px;
    height: 30px;
    background:#41C9E2;
    border: 2px solid rgb(3, 12, 26);
    margin-top: 13px;
    color: antiquewhite;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.content .par{
    padding-left: 40px;
    padding-bottom: 60px;
    font-family: Georgia;
    letter-spacing:1.2px;
    line-height: 35px;
    color: white;
}

.content h1{
    font-family:sans-serif;
    font-size: 60px;
    padding-left: 60px;
    padding-left: 60px;
    margin-top: 9%;
    color:#0766AD;
    letter-spacing: 2px;
    font-family: impact;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #29ADB2;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3 ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}
.cn:hover{
    background-color: white;
}

.content .cn2{
    width: 160px;
    height: 40px;
    background: #29ADB2;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3 ease;
}
.content .cn2 a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}
.cn2:hover{
    background-color: white;
}

.content{
    color:#06385e;

}
.content span{
    color:#ad0747 ;
    font-size: 65px;
}
.form{
    with: 250px;
    height: 380px;
    background: linear-gradient( to top,black(0,0,0,0.6)50%,black(0,0,0,0.6)50%);
    position: absolute;
     top: -20px;
     left: 870px;
     border-radius: 10px;
     padding: 25px;
}


